In [1]:
x = {'sigma_psi': 0.25,'sigma_psi_init': 2.332155241562433,'pmeet_21': 0.30325973411684065,'pmeet_28': 0.7329390078838265,'pmeet_35': 1.0,'preg_21': 0.017160684393485684,'preg_28': 0.03733205098574577,'preg_35': -0.0014982571526763744,'u_shift_mar': 1.1123578939396237,'util_alp': 0.3061592839066737,'util_kap': 0.8512902458486851,'util_qbar': 1.1171096340029305,'disutil_marry_sm_mal': 64.12382814306783,'disutil_shotgun': 5.78268701428576,'abortion_costs': 30.926325607734366,'p_abortion_access': 0.9916006844636375,'u_lost_divorce': 6.555383565811324}

In [2]:
from model import Model
mdl = Model(verbose=True,**x)
mdl_list = [mdl]
mdl_list[0].time_statistics()

using cpu!
Total time is 192.625682405
On average Creation of setup took 3.44, total 3.44 sec
On average Integration (s) took 0.19, total 31.72 sec (excl the worst)
On average Optimization (s) took 0.04, total 14.86 sec (excl the worst)
On average Integration (c) took 0.24, total 29.53 sec (excl the worst)
On average Optimization (c) took 1.01, total 112.93 sec (excl the worst)

In [3]:
from importlib import reload
import simulations
import numpy as np
reload(simulations)
Agents = simulations.Agents
np.random.seed(18)
agents = Agents( mdl_list, verbose=True, fix_seed=False)
moments_list = [agents.compute_moments()]
mom = {key : np.mean([m[key] for m in moments_list]) for key in moments_list[0].keys()}

At t = 1 count of Female, single is 15000
37 abortions done at t = 0 for Female, single
15 abortions refused at t = 0 for Female, single
for sname = Female, single: 16 mar, 875 coh,  3701 disagreed, 10408 did not meet (15000 total)
At t = 1 for Female and child 15 have LS of 1.0
At t = 1 for Couple, no children 875 have LS of 1.0
At t = 1 for Couple and child 10 have LS of 0.2
At t = 1 for Couple and child 6 have LS of 1.0
At t = 2 count of Female, single is 14094
42 abortions done at t = 1 for Female, single
36 abortions refused at t = 1 for Female, single
for sname = Female, single: 35 mar, 910 coh,  4339 disagreed, 8810 did not meet (14094 total)
At t = 2 count of Female and child is 15
for sname = Female and child: 0 mar, 0 coh,  6 disagreed, 9 did not meet (15 total)
At t = 2 count of Couple, no children is 875
At t = 2 count of Couple and child is 16
At t = 2 for Female and child 51 have LS of 1.0
At t = 2 for Couple, no children 1633 have LS of 1.0
At t = 2 for Couple and child 72 have LS of 0.2
At t = 2 for Couple and child 130 have LS of 1.0
At t = 3 count of Female, single is 13114
56 abortions done at t = 2 for Female, single
51 abortions refused at t = 2 for Female, single
for sname = Female, single: 63 mar, 1003 coh,  4702 disagreed, 7346 did not meet (13114 total)
At t = 3 count of Female and child is 51
for sname = Female and child: 3 mar, 0 coh,  22 disagreed, 26 did not meet (51 total)
At t = 3 count of Couple, no children is 1633
At t = 3 count of Couple and child is 202
At t = 3 for Female and child 2 have LS of 0.2
At t = 3 for Female and child 101 have LS of 1.0
At t = 3 for Couple, no children 2306 have LS of 1.0
At t = 3 for Couple and child 185 have LS of 0.2
At t = 3 for Couple and child 400 have LS of 1.0
At t = 4 count of Female, single is 12006
45 abortions done at t = 3 for Female, single
106 abortions refused at t = 3 for Female, single
for sname = Female, single: 64 mar, 1000 coh,  5001 disagreed, 5941 did not meet (12006 total)
At t = 4 count of Female and child is 103
for sname = Female and child: 2 mar, 0 coh,  52 disagreed, 49 did not meet (103 total)
At t = 4 count of Couple, no children is 2306
At t = 4 count of Couple and child is 585
At t = 4 for Female and child 3 have LS of 0.2
At t = 4 for Female and child 208 have LS of 1.0
At t = 4 for Couple, no children 2946 have LS of 1.0
At t = 4 for Couple and child 292 have LS of 0.2
At t = 4 for Couple and child 704 have LS of 1.0
At t = 5 count of Female, single is 10847
52 abortions done at t = 4 for Female, single
104 abortions refused at t = 4 for Female, single
for sname = Female, single: 59 mar, 1015 coh,  5149 disagreed, 4624 did not meet (10847 total)
At t = 5 count of Female and child is 211
for sname = Female and child: 11 mar, 0 coh,  102 disagreed, 98 did not meet (211 total)
At t = 5 count of Couple, no children is 2946
At t = 5 count of Couple and child is 996
At t = 5 for Female and child 6 have LS of 0.2
At t = 5 for Female and child 312 have LS of 1.0
At t = 5 for Couple, no children 3351 have LS of 1.0
At t = 5 for Couple and child 442 have LS of 0.2
At t = 5 for Couple and child 1181 have LS of 1.0
At t = 6 count of Female, single is 9708
46 abortions done at t = 5 for Female, single
106 abortions refused at t = 5 for Female, single
for sname = Female, single: 70 mar, 948 coh,  5080 disagreed, 3610 did not meet (9708 total)
At t = 6 count of Female and child is 318
for sname = Female and child: 21 mar, 0 coh,  184 disagreed, 113 did not meet (318 total)
At t = 6 count of Couple, no children is 3351
At t = 6 count of Couple and child is 1623
At t = 6 for Female and child 9 have LS of 0.2
At t = 6 for Female and child 410 have LS of 1.0
At t = 6 for Couple, no children 3537 have LS of 1.0
At t = 6 for Couple and child 595 have LS of 0.2
At t = 6 for Couple and child 1800 have LS of 1.0
At t = 7 count of Female, single is 8649
46 abortions done at t = 6 for Female, single
133 abortions refused at t = 6 for Female, single
for sname = Female, single: 63 mar, 875 coh,  4982 disagreed, 2729 did not meet (8649 total)
At t = 7 count of Female and child is 419
for sname = Female and child: 24 mar, 0 coh,  277 disagreed, 118 did not meet (419 total)
At t = 7 count of Couple, no children is 3537
At t = 7 count of Couple and child is 2395
At t = 7 for Female and child 18 have LS of 0.2
At t = 7 for Female and child 543 have LS of 1.0
At t = 7 for Couple, no children 3783 have LS of 1.0
At t = 7 for Couple and child 734 have LS of 0.2
At t = 7 for Couple and child 2232 have LS of 1.0
At t = 8 count of Female, single is 7690
49 abortions done at t = 7 for Female, single
113 abortions refused at t = 7 for Female, single
for sname = Female, single: 58 mar, 858 coh,  4745 disagreed, 2029 did not meet (7690 total)
At t = 8 count of Female and child is 561
for sname = Female and child: 33 mar, 0 coh,  391 disagreed, 137 did not meet (561 total)
At t = 8 count of Couple, no children is 3783
At t = 8 count of Couple and child is 2966
At t = 8 for Female and child 5 have LS of 0.2
At t = 8 for Female and child 663 have LS of 1.0
At t = 8 for Couple, no children 3921 have LS of 1.0
At t = 8 for Couple and child 975 have LS of 0.2
At t = 8 for Couple and child 2659 have LS of 1.0
At t = 9 count of Female, single is 6777
43 abortions done at t = 8 for Female, single
100 abortions refused at t = 8 for Female, single
for sname = Female, single: 51 mar, 794 coh,  4409 disagreed, 1523 did not meet (6777 total)
At t = 9 count of Female and child is 668
for sname = Female and child: 39 mar, 0 coh,  487 disagreed, 142 did not meet (668 total)
At t = 9 count of Couple, no children is 3921
At t = 9 count of Couple and child is 3634
At t = 9 for Female and child 45 have LS of 0.2
At t = 9 for Female and child 754 have LS of 1.0
At t = 9 for Couple, no children 3781 have LS of 1.0
At t = 9 for Couple and child 1271 have LS of 0.2
At t = 9 for Couple and child 3159 have LS of 1.0
At t = 10 count of Female, single is 5990
38 abortions done at t = 9 for Female, single
71 abortions refused at t = 9 for Female, single
for sname = Female, single: 37 mar, 713 coh,  4191 disagreed, 1049 did not meet (5990 total)
At t = 10 count of Female and child is 799
for sname = Female and child: 51 mar, 0 coh,  603 disagreed, 145 did not meet (799 total)
At t = 10 count of Couple, no children is 3781
At t = 10 count of Couple and child is 4430
At t = 10 for Female and child 19 have LS of 0.2
At t = 10 for Female and child 880 have LS of 1.0
At t = 10 for Couple, no children 3559 have LS of 1.0
At t = 10 for Couple and child 1609 have LS of 0.2
At t = 10 for Couple and child 3644 have LS of 1.0
At t = 11 count of Female, single is 5289
39 abortions done at t = 10 for Female, single
71 abortions refused at t = 10 for Female, single
for sname = Female, single: 32 mar, 666 coh,  3896 disagreed, 695 did not meet (5289 total)
At t = 11 count of Female and child is 899
for sname = Female and child: 62 mar, 0 coh,  722 disagreed, 115 did not meet (899 total)
At t = 11 count of Couple, no children is 3559
At t = 11 count of Couple and child is 5253
At t = 11 for Female and child 48 have LS of 0.2
At t = 11 for Female and child 937 have LS of 1.0
At t = 11 for Couple, no children 3259 have LS of 1.0
At t = 11 for Couple and child 1839 have LS of 0.2
At t = 11 for Couple and child 4242 have LS of 1.0
At t = 12 count of Female, single is 4675
22 abortions done at t = 11 for Female, single
46 abortions refused at t = 11 for Female, single
for sname = Female, single: 23 mar, 634 coh,  3579 disagreed, 439 did not meet (4675 total)
At t = 12 count of Female and child is 985
for sname = Female and child: 79 mar, 0 coh,  813 disagreed, 93 did not meet (985 total)
At t = 12 count of Couple, no children is 3259
At t = 12 count of Couple and child is 6081
At t = 12 for Female and child 31 have LS of 0.2
At t = 12 for Female and child 993 have LS of 1.0
At t = 12 for Couple, no children 2931 have LS of 1.0
At t = 12 for Couple and child 2107 have LS of 0.2
At t = 12 for Couple and child 4852 have LS of 1.0
At t = 13 count of Female, single is 4086
17 abortions done at t = 12 for Female, single
32 abortions refused at t = 12 for Female, single
for sname = Female, single: 12 mar, 530 coh,  3295 disagreed, 249 did not meet (4086 total)
At t = 13 count of Female and child is 1024

for sname = Female and child: 94 mar, 0 coh,  865 disagreed, 65 did not meet (1024 total)
At t = 13 count of Couple, no children is 2931
At t = 13 count of Couple and child is 6959
At t = 13 for Female and child 78 have LS of 0.2
At t = 13 for Female and child 968 have LS of 1.0
At t = 13 for Couple, no children 2457 have LS of 1.0
At t = 13 for Couple and child 2437 have LS of 0.2
At t = 13 for Couple and child 5431 have LS of 1.0
At t = 14 count of Female, single is 3629
9 abortions done at t = 13 for Female, single
13 abortions refused at t = 13 for Female, single
for sname = Female, single: 11 mar, 536 coh,  2975 disagreed, 107 did not meet (3629 total)
At t = 14 count of Female and child is 1046
for sname = Female and child: 75 mar, 0 coh,  937 disagreed, 34 did not meet (1046 total)
At t = 14 count of Couple, no children is 2457
At t = 14 count of Couple and child is 7868
At t = 14 for Female and child 70 have LS of 0.2
At t = 14 for Female and child 1016 have LS of 1.0
At t = 14 for Couple, no children 2257 have LS of 1.0
At t = 14 for Couple and child 2775 have LS of 0.2
At t = 14 for Couple and child 5744 have LS of 1.0
At t = 15 count of Female, single is 3138
for sname = Female, single: 0 mar, 491 coh,  2647 disagreed, 0 did not meet (3138 total)
At t = 15 count of Female and child is 1086
for sname = Female and child: 78 mar, 0 coh,  1008 disagreed, 0 did not meet (1086 total)
At t = 15 count of Couple, no children is 2257
At t = 15 count of Couple and child is 8519
At t = 15 for Female and child 93 have LS of 0.2
At t = 15 for Female and child 1008 have LS of 1.0
At t = 15 for Couple, no children 2152 have LS of 1.0
At t = 15 for Couple and child 3061 have LS of 0.2
At t = 15 for Couple and child 6001 have LS of 1.0
At t = 16 count of Female, single is 2685
for sname = Female, single: 0 mar, 423 coh,  2262 disagreed, 0 did not meet (2685 total)
At t = 16 count of Female and child is 1101
for sname = Female and child: 102 mar, 0 coh,  999 disagreed, 0 did not meet (1101 total)
At t = 16 count of Couple, no children is 2152
At t = 16 count of Couple and child is 9062
At t = 16 for Female and child 96 have LS of 0.2
At t = 16 for Female and child 1009 have LS of 1.0
At t = 16 for Couple, no children 2049 have LS of 1.0
At t = 16 for Couple and child 3315 have LS of 0.2
At t = 16 for Couple and child 6235 have LS of 1.0
At t = 17 count of Female, single is 2296
for sname = Female, single: 0 mar, 375 coh,  1921 disagreed, 0 did not meet (2296 total)
At t = 17 count of Female and child is 1105
for sname = Female and child: 83 mar, 0 coh,  1022 disagreed, 0 did not meet (1105 total)
At t = 17 count of Couple, no children is 2049
At t = 17 count of Couple and child is 9550
At t = 17 for Female and child 76 have LS of 0.2
At t = 17 for Female and child 1066 have LS of 1.0
At t = 17 for Couple, no children 1942 have LS of 1.0
At t = 17 for Couple and child 3549 have LS of 0.2
At t = 17 for Couple and child 6414 have LS of 1.0
At t = 18 count of Female, single is 1953
for sname = Female, single: 0 mar, 263 coh,  1690 disagreed, 0 did not meet (1953 total)
At t = 18 count of Female and child is 1142
for sname = Female and child: 99 mar, 0 coh,  1043 disagreed, 0 did not meet (1142 total)
At t = 18 count of Couple, no children is 1942
At t = 18 count of Couple and child is 9963
At t = 18 for Female and child 107 have LS of 0.2
At t = 18 for Female and child 1048 have LS of 1.0
At t = 18 for Couple, no children 822 have LS of 1.0
At t = 18 for Couple and child 4144 have LS of 0.2
At t = 18 for Couple and child 7146 have LS of 1.0
At t = 19 count of Female, single is 1733
for sname = Female, single: 0 mar, 224 coh,  1509 disagreed, 0 did not meet (1733 total)
At t = 19 count of Female and child is 1155
for sname = Female and child: 140 mar, 0 coh,  1015 disagreed, 0 did not meet (1155 total)
At t = 19 count of Couple, no children is 822
At t = 19 count of Couple and child is 11290
At t = 19 for Female and child 87 have LS of 0.2
At t = 19 for Female and child 1029 have LS of 1.0
At t = 19 for Couple, no children 1032 have LS of 1.0
At t = 19 for Couple and child 4236 have LS of 0.2
At t = 19 for Couple and child 7093 have LS of 1.0
At t = 20 count of Female, single is 1523
for sname = Female, single: 0 mar, 219 coh,  1304 disagreed, 0 did not meet (1523 total)
At t = 20 count of Female and child is 1116
for sname = Female and child: 146 mar, 0 coh,  970 disagreed, 0 did not meet (1116 total)
At t = 20 count of Couple, no children is 1032
At t = 20 count of Couple and child is 11329
At t = 20 for Female and child 113 have LS of 0.2
At t = 20 for Female and child 947 have LS of 1.0
At t = 20 for Couple, no children 1233 have LS of 1.0
At t = 20 for Couple and child 4311 have LS of 0.2
At t = 20 for Couple and child 7074 have LS of 1.0
At t = 21 count of Female, single is 1322
for sname = Female, single: 0 mar, 188 coh,  1134 disagreed, 0 did not meet (1322 total)
At t = 21 count of Female and child is 1060
for sname = Female and child: 138 mar, 0 coh,  922 disagreed, 0 did not meet (1060 total)
At t = 21 count of Couple, no children is 1233
At t = 21 count of Couple and child is 11385
At t = 21 for Female and child 87 have LS of 0.2
At t = 21 for Female and child 899 have LS of 1.0
At t = 21 for Couple, no children 1408 have LS of 1.0
At t = 21 for Couple and child 4446 have LS of 0.2
At t = 21 for Couple and child 7013 have LS of 1.0
At t = 22 count of Female, single is 1147
for sname = Female, single: 0 mar, 183 coh,  964 disagreed, 0 did not meet (1147 total)
At t = 22 count of Female and child is 986
for sname = Female and child: 138 mar, 0 coh,  848 disagreed, 0 did not meet (986 total)
At t = 22 count of Couple, no children is 1408
At t = 22 count of Couple and child is 11459
At t = 22 for Female and child 100 have LS of 0.2
At t = 22 for Female and child 841 have LS of 1.0
At t = 22 for Couple, no children 1575 have LS of 1.0
At t = 22 for Couple and child 4484 have LS of 0.2
At t = 22 for Couple and child 7020 have LS of 1.0
At t = 23 count of Female, single is 980
for sname = Female, single: 0 mar, 140 coh,  840 disagreed, 0 did not meet (980 total)
At t = 23 count of Female and child is 941
for sname = Female and child: 116 mar, 0 coh,  825 disagreed, 0 did not meet (941 total)
At t = 23 count of Couple, no children is 1575
At t = 23 count of Couple and child is 11504
At t = 23 for Female and child 122 have LS of 0.2
At t = 23 for Female and child 755 have LS of 1.0
At t = 23 for Couple, no children 1701 have LS of 1.0
At t = 23 for Couple and child 4573 have LS of 0.2
At t = 23 for Couple and child 6995 have LS of 1.0
At t = 24 count of Female, single is 854
for sname = Female, single: 0 mar, 96 coh,  758 disagreed, 0 did not meet (854 total)
At t = 24 count of Female and child is 877
for sname = Female and child: 123 mar, 0 coh,  754 disagreed, 0 did not meet (877 total)
At t = 24 count of Couple, no children is 1701
At t = 24 count of Couple and child is 11568
At t = 24 for Female and child 87 have LS of 0.2
At t = 24 for Female and child 723 have LS of 1.0
At t = 24 for Couple, no children 1779 have LS of 1.0
At t = 24 for Couple and child 4652 have LS of 0.2
At t = 24 for Couple and child 6983 have LS of 1.0
At t = 25 count of Female, single is 776
for sname = Female, single: 0 mar, 113 coh,  663 disagreed, 0 did not meet (776 total)
At t = 25 count of Female and child is 810
for sname = Female and child: 102 mar, 0 coh,  708 disagreed, 0 did not meet (810 total)
At t = 25 count of Couple, no children is 1779
At t = 25 count of Couple and child is 11635
At t = 25 for Female and child 96 have LS of 0.2
At t = 25 for Female and child 666 have LS of 1.0
At t = 25 for Couple, no children 1880 have LS of 1.0
At t = 25 for Couple and child 4688 have LS of 0.2
At t = 25 for Couple and child 6995 have LS of 1.0
At t = 26 count of Female, single is 675
for sname = Female, single: 0 mar, 102 coh,  573 disagreed, 0 did not meet (675 total)
At t = 26 count of Female and child is 762
for sname = Female and child: 80 mar, 0 coh,  682 disagreed, 0 did not meet (762 total)
At t = 26 count of Couple, no children is 1880
At t = 26 count of Couple and child is 11683
At t = 26 for Female and child 101 have LS of 0.2
At t = 26 for Female and child 614 have LS of 1.0
At t = 26 for Couple, no children 1969 have LS of 1.0
At t = 26 for Couple and child 4771 have LS of 0.2
At t = 26 for Couple and child 6959 have LS of 1.0

At t = 27 count of Female, single is 586
for sname = Female, single: 0 mar, 67 coh,  519 disagreed, 0 did not meet (586 total)
At t = 27 count of Female and child is 715
for sname = Female and child: 86 mar, 0 coh,  629 disagreed, 0 did not meet (715 total)
At t = 27 count of Couple, no children is 1969
At t = 27 count of Couple and child is 11730
At t = 27 for Female and child 70 have LS of 0.2
At t = 27 for Female and child 602 have LS of 1.0
At t = 27 for Couple, no children 2020 have LS of 1.0
At t = 27 for Couple and child 4847 have LS of 0.2
At t = 27 for Couple and child 6926 have LS of 1.0
At t = 28 count of Female, single is 535
for sname = Female, single: 0 mar, 74 coh,  461 disagreed, 0 did not meet (535 total)
At t = 28 count of Female and child is 672
for sname = Female and child: 81 mar, 0 coh,  591 disagreed, 0 did not meet (672 total)
At t = 28 count of Couple, no children is 2020
At t = 28 count of Couple and child is 11773
At t = 28 for Female and child 83 have LS of 0.2
At t = 28 for Female and child 537 have LS of 1.0
At t = 28 for Couple, no children 2080 have LS of 1.0
At t = 28 for Couple and child 4913 have LS of 0.2
At t = 28 for Couple and child 6912 have LS of 1.0
At t = 29 count of Female, single is 475
for sname = Female, single: 0 mar, 81 coh,  394 disagreed, 0 did not meet (475 total)
At t = 29 count of Female and child is 620
for sname = Female and child: 86 mar, 0 coh,  534 disagreed, 0 did not meet (620 total)
At t = 29 count of Couple, no children is 2080
At t = 29 count of Couple and child is 11825
Maximum savings for Female, single is 50.0
Maximum savings for Female and child is 50.0
Maximum savings for Couple, no children is 100.0
Maximum savings for Couple and child is 100.0
Assets upped bound is reached for singles
Rejected: 0.8485316024686104, planned preg: 0.8350531341444632
Anything: divorced k_m = 0.10303622425973245, divorced m_k = 0.040051423017026036
One mar: divorced k_m = 0.10963983050847458, divorced m_k = 0.037604869221911495
Ever divorced upp = 0.15938550168026885, ever divorced nupp = 0.16087326778663777
Ever divorced ever km = 0.3825710754017305, ever divorced never km = 0.13383649678672843
std of earnings is 0.5121238231658936 at 24 and 0.6290507316589355 at 30 for males
std of earnings is 0.532411515712738 at 24 and 0.659980297088623 at 30 for females
Coefficients are 0.22817703752211943 at 25 and 0.26722851878728704 at 30


Key target: km 0.10963983050847458, mk 0.037604869221911495, ratio 2.9155753703456564

In [4]:
from targets import target_values
from residuals import distance_to_targets
tar = target_values()
resid_all, resid_sc, dist = distance_to_targets(mom,tar,weights={},
                                                    report=True)
print('Distance is {}'.format(dist))

ever kids by years after marriage, 4 is 0.688 (target 0.611)
ever kids by years after marriage, 5 is 0.718 (target 0.704)
ever kids by years after marriage, 6 is 0.742 (target 0.773)
ever kids by years after marriage, 7 is 0.765 (target 0.818)
ever kids by years after marriage, 8 is 0.786 (target 0.857)
k then m in population at 23 is 0.0034 (target 0.00555)
k then m in population at 24 is 0.0078 (target 0.00806)
k then m in population at 25 is 0.0122 (target 0.0126)
k then m in population at 26 is 0.0169 (target 0.0178)
k then m in population at 27 is 0.0229 (target 0.0214)
k then m in population at 28 is 0.0285 (target 0.0281)
k then m in population at 29 is 0.0341 (target 0.0321)
k then m in population at 30 is 0.0393 (target 0.037)
k then m in population at 31 is 0.044 (target 0.0386)
k then m in population at 32 is 0.0483 (target 0.0424)
k then m in population at 33 is 0.0531 (target 0.0436)
k then m in population at 34 is 0.0567 (target 0.0484)
k then m in population at 35 is 0.0595 (target 0.0536)
m then k in population at 23 is 0.0101 (target 0.015)
m then k in population at 24 is 0.0313 (target 0.028)
m then k in population at 25 is 0.0545 (target 0.0481)
m then k in population at 26 is 0.0924 (target 0.0788)
m then k in population at 27 is 0.139 (target 0.121)
m then k in population at 28 is 0.173 (target 0.174)
m then k in population at 29 is 0.213 (target 0.232)
m then k in population at 30 is 0.264 (target 0.282)
m then k in population at 31 is 0.317 (target 0.345)
m then k in population at 32 is 0.368 (target 0.396)
m then k in population at 33 is 0.421 (target 0.433)
m then k in population at 34 is 0.474 (target 0.462)
m then k in population at 35 is 0.513 (target 0.472)
k then m in sample at 23 is 0.252 (target 0.27)
k then m in sample at 24 is 0.199 (target 0.224)
k then m in sample at 25 is 0.183 (target 0.208)
k then m in sample at 26 is 0.154 (target 0.184)
k then m in sample at 27 is 0.142 (target 0.15)
k then m in sample at 28 is 0.142 (target 0.139)
k then m in sample at 29 is 0.138 (target 0.122)
k then m in sample at 30 is 0.13 (target 0.116)
k then m in sample at 31 is 0.122 (target 0.101)
k then m in sample at 32 is 0.116 (target 0.0967)
k then m in sample at 33 is 0.112 (target 0.0915)
k then m in sample at 34 is 0.107 (target 0.0948)
k then m in sample at 35 is 0.104 (target 0.102)
divorced by years after marriage if kids first, 1 is 0.0178 (target 0.0113)
divorced by years after marriage if kids first, 2 is 0.0473 (target 0.0217)
divorced by years after marriage if kids first, 3 is 0.0727 (target 0.0492)
divorced by years after marriage if kids first, 4 is 0.0963 (target 0.0894)
divorced by years after marriage if kids first, 5 is 0.118 (target 0.105)
divorced by years after marriage if kids first, 6 is 0.136 (target 0.139)
divorced by years after marriage if kids first, 7 is 0.149 (target 0.151)
divorced by years after marriage if kids first, 8 is 0.163 (target 0.187)
divorced by years after marriage if kids first, 9 is 0.164 (target 0.179)
divorced by years after marriage if kids first, 10 is 0.188 (target 0.201)
divorced by years after marriage if marriage first, 1 is 00 (target 0.000818)
divorced by years after marriage if marriage first, 2 is 0.0118 (target 0.00508)
divorced by years after marriage if marriage first, 3 is 0.0169 (target 0.0103)
divorced by years after marriage if marriage first, 4 is 0.0216 (target 0.0165)
divorced by years after marriage if marriage first, 5 is 0.0288 (target 0.0201)
divorced by years after marriage if marriage first, 6 is 0.0324 (target 0.0269)
divorced by years after marriage if marriage first, 7 is 0.0371 (target 0.032)
divorced by years after marriage if marriage first, 8 is 0.0431 (target 0.0402)
divorced by years after marriage if marriage first, 9 is 0.0471 (target 0.0479)
divorced by years after marriage if marriage first, 10 is 0.0526 (target 0.0602)
mean x share is 0.388 (target 0.4)
more than one mar at 40 is 0.0902 (target 0.119)
in labor force at 30 if kids is 0.713 (target 0.74)
never married and no kids in population at 23 is 0.874 (target 0.871)
never married and no kids in population at 24 is 0.8 (target 0.808)
never married and no kids in population at 25 is 0.722 (target 0.737)
never married and no kids in population at 26 is 0.643 (target 0.646)
never married and no kids in population at 27 is 0.568 (target 0.563)
never married and no kids in population at 28 is 0.498 (target 0.477)
never married and no kids in population at 29 is 0.431 (target 0.407)
never married and no kids in population at 30 is 0.371 (target 0.348)
never married and no kids in population at 31 is 0.32 (target 0.299)
never married and no kids in population at 32 is 0.273 (target 0.251)
never married and no kids in population at 33 is 0.231 (target 0.223)
never married and no kids in population at 34 is 0.199 (target 0.197)
never married and no kids in population at 35 is 0.168 (target 0.179)
divorced and kids in population at 28 is 0.00447 (target 0.00942)
divorced and kids in population at 29 is 0.00613 (target 0.0124)
divorced and kids in population at 30 is 0.0107 (target 0.0162)
divorced and kids in population at 31 is 0.0158 (target 0.0209)
divorced and kids in population at 32 is 0.0201 (target 0.0265)
divorced and kids in population at 33 is 0.0237 (target 0.0305)
divorced and kids in population at 34 is 0.0271 (target 0.0378)
divorced and kids in population at 35 is 0.0318 (target 0.0429)
divorced and no kids in population at 28 is 0.0146 (target 0.017)
divorced and no kids in population at 29 is 0.0207 (target 0.0207)
divorced and no kids in population at 30 is 0.0284 (target 0.0256)
divorced and no kids in population at 31 is 0.0327 (target 0.0251)
divorced and no kids in population at 32 is 0.0389 (target 0.0287)
divorced and no kids in population at 33 is 0.0411 (target 0.0269)
divorced and no kids in population at 34 is 0.0429 (target 0.0316)
divorced and no kids in population at 35 is 0.0414 (target 0.032)
never married and kids in population at 28 is 0.0329 (target 0.0428)
never married and kids in population at 29 is 0.0384 (target 0.0439)
never married and kids in population at 30 is 0.0426 (target 0.0463)
never married and kids in population at 31 is 0.0441 (target 0.0452)
never married and kids in population at 32 is 0.0455 (target 0.0461)
never married and kids in population at 33 is 0.0445 (target 0.0488)
never married and kids in population at 34 is 0.0427 (target 0.0465)
never married and kids in population at 35 is 0.0406 (target 0.0433)
abortion ratio is 41.7 (target 64.8)
abortion 30s over 20s is 0.192 (target 0.385)
Distance is 1.8886447142329614

In [5]:
mdl_list[0].time_statistics()

Total time is 206.03425429199999
On average Creation of setup took 3.44, total 3.44 sec
On average Integration (s) took 0.19, total 31.72 sec (excl the worst)
On average Optimization (s) took 0.04, total 14.86 sec (excl the worst)
On average Integration (c) took 0.24, total 29.53 sec (excl the worst)
On average Optimization (c) took 1.01, total 112.93 sec (excl the worst)
On average Simulations, creation took 0.13, total 0.13 sec
On average Simulations, iteration took 0.41, total 12.62 sec (excl the worst)

In [6]:
from main_onerun import main
main()