In [1]:
#x = {'sigma_psi': 0.25,'sigma_psi_init': 2.332155241562433,'pmeet_21': 0.30325973411684065,'pmeet_28': 0.7329390078838265,'pmeet_35': 1.0,'preg_21': 0.017160684393485684,'preg_28': 0.03733205098574577,'preg_35': -0.0014982571526763744,'u_shift_mar': 1.1123578939396237,'util_alp': 0.3061592839066737,'util_kap': 0.8512902458486851,'util_qbar': 1.1171096340029305,'disutil_marry_sm_mal': 64.12382814306783,'disutil_shotgun': 5.78268701428576,'abortion_costs': 30.926325607734366,'p_abortion_access': 0.9916006844636375,'u_lost_divorce': 6.555383565811324}
from estimates import get_point
x, targ_mode = get_point(True)

In [2]:
from model import Model
mdl = Model(verbose=True,**x)
mdl_list = [mdl]
mdl_list[0].time_statistics()

using cupy!
Creation of setup took 1.67, total 1.67, mem 1.05G
Integration (c) took 0.72, total 3.66, mem 1.11G
Integration (c) took 0.75, total 8.72, mem 2.13G
Total time is 11.679945943877101
On average Creation of setup took 1.67, total 1.67 sec
On average Integration (s) took 0.01, total 1.9 sec (excl the worst)
On average Optimization (s) took 0.01, total 1.36 sec (excl the worst)
On average Transfer from gpu took 0.0, total 1.33 sec (excl the worst)
On average Integration (c) took 0.02, total 3.33 sec (excl the worst)
On average Optimization (c) took 0.02, total 1.7 sec (excl the worst)
On average Transfer to gpu took 0.0, total 0.27 sec (excl the worst)

In [3]:
from importlib import reload
import simulations
import numpy as np
reload(simulations)
Agents = simulations.Agents
np.random.seed(18)
agents = Agents( mdl_list, verbose=True, fix_seed=False)
moments_list = [agents.compute_moments()]
mom = {key : np.mean([m[key] for m in moments_list]) for key in moments_list[0].keys()}

At t = 0 for Female and child 276 have LS of 1.0
At t = 1 count of Female, single is 14724
1 abortions done at t = 0 for Female, single
for sname = Female, single: 15 mar, 1048 coh,  627 disagreed, 13034 did not meet (14724 total)
At t = 1 count of Female and child is 276
for sname = Female and child: 7 mar, 0 coh,  27 disagreed, 242 did not meet (276 total)
Simulations, iteration took 0.57, total 12.31, mem 2.89G
At t = 1 for Female and child 272 have LS of 1.0
At t = 1 for Couple, no children 1048 have LS of 1.0
At t = 1 for Couple and child 12 have LS of 0.2
At t = 1 for Couple and child 10 have LS of 1.0
At t = 2 count of Female, single is 13658
for sname = Female, single: 26 mar, 1031 coh,  671 disagreed, 11930 did not meet (13658 total)
At t = 2 count of Female and child is 272
for sname = Female and child: 10 mar, 0 coh,  29 disagreed, 233 did not meet (272 total)
At t = 2 count of Couple, no children is 1048
At t = 2 count of Couple and child is 22
Simulations, iteration took 0.52, total 12.83, mem 2.89G
At t = 2 for Female and child 269 have LS of 1.0
At t = 2 for Couple, no children 1936 have LS of 1.0
At t = 2 for Couple and child 45 have LS of 0.2
At t = 2 for Couple and child 152 have LS of 1.0
At t = 3 count of Female, single is 12598
1 abortions done at t = 2 for Female, single
2 abortions refused at t = 2 for Female, single
for sname = Female, single: 55 mar, 920 coh,  712 disagreed, 10911 did not meet (12598 total)
At t = 3 count of Female and child is 269
for sname = Female and child: 16 mar, 0 coh,  26 disagreed, 227 did not meet (269 total)
At t = 3 count of Couple, no children is 1936
At t = 3 count of Couple and child is 197
At t = 3 for Female and child 267 have LS of 1.0
At t = 3 for Couple, no children 2607 have LS of 1.0
At t = 3 for Couple and child 105 have LS of 0.2
At t = 3 for Couple and child 402 have LS of 1.0
At t = 4 count of Female, single is 11619
2 abortions refused at t = 3 for Female, single
for sname = Female, single: 55 mar, 894 coh,  730 disagreed, 9940 did not meet (11619 total)
At t = 4 count of Female and child is 267
for sname = Female and child: 20 mar, 0 coh,  23 disagreed, 224 did not meet (267 total)
At t = 4 count of Couple, no children is 2607
At t = 4 count of Couple and child is 507
At t = 4 for Female and child 255 have LS of 1.0
At t = 4 for Couple, no children 2983 have LS of 1.0
At t = 4 for Couple and child 178 have LS of 0.2
At t = 4 for Couple and child 901 have LS of 1.0
At t = 5 count of Female, single is 10683
3 abortions done at t = 4 for Female, single
2 abortions refused at t = 4 for Female, single
for sname = Female, single: 67 mar, 855 coh,  802 disagreed, 8959 did not meet (10683 total)
At t = 5 count of Female and child is 255
for sname = Female and child: 11 mar, 0 coh,  29 disagreed, 215 did not meet (255 total)
At t = 5 count of Couple, no children is 2983
At t = 5 count of Couple and child is 1079
At t = 5 for Female and child 266 have LS of 1.0
At t = 5 for Couple, no children 3428 have LS of 1.0
At t = 5 for Couple and child 259 have LS of 0.2
At t = 5 for Couple and child 1264 have LS of 1.0
At t = 6 count of Female, single is 9783
1 abortions done at t = 5 for Female, single
1 abortions refused at t = 5 for Female, single
for sname = Female, single: 56 mar, 845 coh,  881 disagreed, 8001 did not meet (9783 total)
At t = 6 count of Female and child is 266
for sname = Female and child: 14 mar, 0 coh,  36 disagreed, 216 did not meet (266 total)
At t = 6 count of Couple, no children is 3428
At t = 6 count of Couple and child is 1523
At t = 6 for Female and child 268 have LS of 1.0
At t = 6 for Couple, no children 3678 have LS of 1.0
At t = 6 for Couple and child 350 have LS of 0.2
At t = 6 for Couple and child 1755 have LS of 1.0
At t = 7 count of Female, single is 8949
4 abortions done at t = 6 for Female, single
1 abortions refused at t = 6 for Female, single
for sname = Female, single: 68 mar, 956 coh,  725 disagreed, 7200 did not meet (8949 total)
At t = 7 count of Female and child is 268
for sname = Female and child: 12 mar, 0 coh,  40 disagreed, 216 did not meet (268 total)
At t = 7 count of Couple, no children is 3678
At t = 7 count of Couple and child is 2105
At t = 7 for Female and child 286 have LS of 1.0
At t = 7 for Couple, no children 3777 have LS of 1.0
At t = 7 for Couple and child 556 have LS of 0.2
At t = 7 for Couple and child 2369 have LS of 1.0
At t = 8 count of Female, single is 8012
1 abortions done at t = 7 for Female, single
1 abortions refused at t = 7 for Female, single
for sname = Female, single: 56 mar, 918 coh,  710 disagreed, 6328 did not meet (8012 total)
At t = 8 count of Female and child is 286
for sname = Female and child: 18 mar, 0 coh,  50 disagreed, 218 did not meet (286 total)
At t = 8 count of Couple, no children is 3777
At t = 8 count of Couple and child is 2925
At t = 8 for Female and child 328 have LS of 1.0
At t = 8 for Couple, no children 3536 have LS of 1.0
At t = 8 for Couple and child 909 have LS of 0.2
At t = 8 for Couple and child 3053 have LS of 1.0
At t = 9 count of Female, single is 7174
2 abortions done at t = 8 for Female, single
3 abortions refused at t = 8 for Female, single
for sname = Female, single: 69 mar, 929 coh,  598 disagreed, 5578 did not meet (7174 total)
At t = 9 count of Female and child is 328
for sname = Female and child: 22 mar, 0 coh,  58 disagreed, 248 did not meet (328 total)
At t = 9 count of Couple, no children is 3536
At t = 9 count of Couple and child is 3962
At t = 9 for Female and child 1 have LS of 0.2
At t = 9 for Female and child 364 have LS of 1.0
At t = 9 for Couple, no children 3459 have LS of 1.0
At t = 9 for Couple and child 1201 have LS of 0.2
At t = 9 for Couple and child 3683 have LS of 1.0
At t = 10 count of Female, single is 6292
3 abortions refused at t = 9 for Female, single
for sname = Female, single: 40 mar, 834 coh,  611 disagreed, 4807 did not meet (6292 total)
At t = 10 count of Female and child is 365
for sname = Female and child: 36 mar, 0 coh,  52 disagreed, 277 did not meet (365 total)
At t = 10 count of Couple, no children is 3459
At t = 10 count of Couple and child is 4884
At t = 10 for Female and child 4 have LS of 0.2
At t = 10 for Female and child 368 have LS of 1.0
At t = 10 for Couple, no children 3364 have LS of 1.0
At t = 10 for Couple and child 1465 have LS of 0.2
At t = 10 for Couple and child 4280 have LS of 1.0
At t = 11 count of Female, single is 5519
1 abortions done at t = 10 for Female, single
4 abortions refused at t = 10 for Female, single
for sname = Female, single: 34 mar, 801 coh,  567 disagreed, 4117 did not meet (5519 total)
At t = 11 count of Female and child is 372
for sname = Female and child: 25 mar, 0 coh,  65 disagreed, 282 did not meet (372 total)
At t = 11 count of Couple, no children is 3364
At t = 11 count of Couple and child is 5745
At t = 11 for Female and child 4 have LS of 0.2
At t = 11 for Female and child 428 have LS of 1.0
At t = 11 for Couple, no children 3311 have LS of 1.0
At t = 11 for Couple and child 1725 have LS of 0.2
At t = 11 for Couple and child 4749 have LS of 1.0
At t = 12 count of Female, single is 4783
for sname = Female, single: 36 mar, 717 coh,  607 disagreed, 3423 did not meet (4783 total)
At t = 12 count of Female and child is 432
for sname = Female and child: 46 mar, 0 coh,  91 disagreed, 295 did not meet (432 total)
At t = 12 count of Couple, no children is 3311
At t = 12 count of Couple and child is 6474
At t = 12 for Female and child 5 have LS of 0.2
At t = 12 for Female and child 500 have LS of 1.0
At t = 12 for Couple, no children 3229 have LS of 1.0
At t = 12 for Couple and child 1982 have LS of 0.2
At t = 12 for Couple and child 5086 have LS of 1.0
At t = 13 count of Female, single is 4198
2 abortions done at t = 12 for Female, single
1 abortions refused at t = 12 for Female, single
for sname = Female, single: 12 mar, 745 coh,  513 disagreed, 2928 did not meet (4198 total)
At t = 13 count of Female and child is 505
for sname = Female and child: 58 mar, 0 coh,  94 disagreed, 353 did not meet (505 total)
At t = 13 count of Couple, no children is 3229
At t = 13 count of Couple and child is 7068
At t = 13 for Female and child 15 have LS of 0.2
At t = 13 for Female and child 554 have LS of 1.0
At t = 13 for Couple, no children 3203 have LS of 1.0
At t = 13 for Couple and child 2160 have LS of 0.2
At t = 13 for Couple and child 5483 have LS of 1.0
At t = 14 count of Female, single is 3585
for sname = Female, single: 12 mar, 726 coh,  405 disagreed, 2442 did not meet (3585 total)
At t = 14 count of Female and child is 569
for sname = Female and child: 75 mar, 0 coh,  113 disagreed, 381 did not meet (569 total)
At t = 14 count of Couple, no children is 3203
At t = 14 count of Couple and child is 7643
At t = 14 for Female and child 16 have LS of 0.2
At t = 14 for Female and child 633 have LS of 1.0
At t = 14 for Couple, no children 3178 have LS of 1.0

At t = 14 for Couple and child 2408 have LS of 0.2
At t = 14 for Couple and child 5818 have LS of 1.0
At t = 15 count of Female, single is 2947
for sname = Female, single: 5 mar, 692 coh,  267 disagreed, 1983 did not meet (2947 total)
At t = 15 count of Female and child is 649
for sname = Female and child: 102 mar, 0 coh,  128 disagreed, 419 did not meet (649 total)
At t = 15 count of Couple, no children is 3178
At t = 15 count of Couple and child is 8226
At t = 15 for Female and child 20 have LS of 0.2
At t = 15 for Female and child 627 have LS of 1.0
At t = 15 for Couple, no children 2989 have LS of 1.0
At t = 15 for Couple and child 2663 have LS of 0.2
At t = 15 for Couple and child 6387 have LS of 1.0
At t = 16 count of Female, single is 2314
for sname = Female, single: 0 mar, 637 coh,  204 disagreed, 1473 did not meet (2314 total)
At t = 16 count of Female and child is 647
for sname = Female and child: 107 mar, 0 coh,  130 disagreed, 410 did not meet (647 total)
At t = 16 count of Couple, no children is 2989
At t = 16 count of Couple and child is 9050
At t = 16 for Female and child 14 have LS of 0.2
At t = 16 for Female and child 621 have LS of 1.0
At t = 16 for Couple, no children 2769 have LS of 1.0
At t = 16 for Couple and child 2971 have LS of 0.2
At t = 16 for Couple and child 6911 have LS of 1.0
At t = 17 count of Female, single is 1714
for sname = Female, single: 0 mar, 580 coh,  100 disagreed, 1034 did not meet (1714 total)
At t = 17 count of Female and child is 635
for sname = Female and child: 71 mar, 0 coh,  172 disagreed, 392 did not meet (635 total)
At t = 17 count of Couple, no children is 2769
At t = 17 count of Couple and child is 9882
At t = 17 for Female and child 16 have LS of 0.2
At t = 17 for Female and child 637 have LS of 1.0
At t = 17 for Couple, no children 2396 have LS of 1.0
At t = 17 for Couple and child 3405 have LS of 0.2
At t = 17 for Couple and child 7411 have LS of 1.0
At t = 18 count of Female, single is 1135
for sname = Female, single: 0 mar, 235 coh,  240 disagreed, 660 did not meet (1135 total)
At t = 18 count of Female and child is 653
for sname = Female and child: 84 mar, 0 coh,  196 disagreed, 373 did not meet (653 total)
At t = 18 count of Couple, no children is 2396
At t = 18 count of Couple and child is 10816
At t = 18 for Female and child 17 have LS of 0.2
At t = 18 for Female and child 649 have LS of 1.0
At t = 18 for Couple, no children 358 have LS of 1.0
At t = 18 for Couple and child 4909 have LS of 0.2
At t = 18 for Couple and child 8129 have LS of 1.0
At t = 19 count of Female, single is 938
for sname = Female, single: 0 mar, 196 coh,  233 disagreed, 509 did not meet (938 total)
At t = 19 count of Female and child is 666
for sname = Female and child: 94 mar, 0 coh,  202 disagreed, 370 did not meet (666 total)
At t = 19 count of Couple, no children is 358
At t = 19 count of Couple and child is 13038
At t = 19 for Female and child 20 have LS of 0.2
At t = 19 for Female and child 669 have LS of 1.0
At t = 19 for Couple, no children 544 have LS of 1.0
At t = 19 for Couple and child 5004 have LS of 0.2
At t = 19 for Couple and child 8011 have LS of 1.0
At t = 20 count of Female, single is 752
for sname = Female, single: 0 mar, 162 coh,  206 disagreed, 384 did not meet (752 total)
At t = 20 count of Female and child is 689
for sname = Female and child: 98 mar, 0 coh,  207 disagreed, 384 did not meet (689 total)
At t = 20 count of Couple, no children is 544
At t = 20 count of Couple and child is 13015
At t = 20 for Female and child 27 have LS of 0.2
At t = 20 for Female and child 652 have LS of 1.0
At t = 20 for Couple, no children 701 have LS of 1.0
At t = 20 for Couple and child 5112 have LS of 0.2
At t = 20 for Couple and child 7913 have LS of 1.0
At t = 21 count of Female, single is 595
for sname = Female, single: 0 mar, 129 coh,  174 disagreed, 292 did not meet (595 total)
At t = 21 count of Female and child is 679
for sname = Female and child: 110 mar, 0 coh,  243 disagreed, 326 did not meet (679 total)
At t = 21 count of Couple, no children is 701
At t = 21 count of Couple and child is 13025
At t = 21 for Female and child 27 have LS of 0.2
At t = 21 for Female and child 622 have LS of 1.0
At t = 21 for Couple, no children 817 have LS of 1.0
At t = 21 for Couple and child 5232 have LS of 0.2
At t = 21 for Couple and child 7823 have LS of 1.0
At t = 22 count of Female, single is 479
for sname = Female, single: 0 mar, 97 coh,  150 disagreed, 232 did not meet (479 total)
At t = 22 count of Female and child is 649
for sname = Female and child: 99 mar, 0 coh,  226 disagreed, 324 did not meet (649 total)
At t = 22 count of Couple, no children is 817
At t = 22 count of Couple and child is 13055
At t = 22 for Female and child 16 have LS of 0.2
At t = 22 for Female and child 595 have LS of 1.0
At t = 22 for Couple, no children 904 have LS of 1.0
At t = 22 for Couple and child 5318 have LS of 0.2
At t = 22 for Couple and child 7775 have LS of 1.0
At t = 23 count of Female, single is 392
for sname = Female, single: 0 mar, 89 coh,  135 disagreed, 168 did not meet (392 total)
At t = 23 count of Female and child is 611
for sname = Female and child: 98 mar, 0 coh,  245 disagreed, 268 did not meet (611 total)
At t = 23 count of Couple, no children is 904
At t = 23 count of Couple and child is 13093
At t = 23 for Female and child 14 have LS of 0.2
At t = 23 for Female and child 538 have LS of 1.0
At t = 23 for Couple, no children 973 have LS of 1.0
At t = 23 for Couple and child 5390 have LS of 0.2
At t = 23 for Couple and child 7762 have LS of 1.0
At t = 24 count of Female, single is 323
for sname = Female, single: 0 mar, 62 coh,  106 disagreed, 155 did not meet (323 total)
At t = 24 count of Female and child is 552
for sname = Female and child: 85 mar, 0 coh,  220 disagreed, 247 did not meet (552 total)
At t = 24 count of Couple, no children is 973
At t = 24 count of Couple and child is 13152
At t = 24 for Female and child 8 have LS of 0.2
At t = 24 for Female and child 492 have LS of 1.0
At t = 24 for Couple, no children 1018 have LS of 1.0
At t = 24 for Couple and child 5445 have LS of 0.2
At t = 24 for Couple and child 7759 have LS of 1.0
At t = 25 count of Female, single is 278
for sname = Female, single: 0 mar, 65 coh,  113 disagreed, 100 did not meet (278 total)
At t = 25 count of Female and child is 500
for sname = Female and child: 75 mar, 0 coh,  235 disagreed, 190 did not meet (500 total)
At t = 25 count of Couple, no children is 1018
At t = 25 count of Couple and child is 13204
At t = 25 for Female and child 6 have LS of 0.2
At t = 25 for Female and child 473 have LS of 1.0
At t = 25 for Couple, no children 1061 have LS of 1.0
At t = 25 for Couple and child 5507 have LS of 0.2
At t = 25 for Couple and child 7718 have LS of 1.0
At t = 26 count of Female, single is 235
for sname = Female, single: 0 mar, 55 coh,  99 disagreed, 81 did not meet (235 total)
At t = 26 count of Female and child is 479
for sname = Female and child: 70 mar, 0 coh,  233 disagreed, 176 did not meet (479 total)
At t = 26 count of Couple, no children is 1061
At t = 26 count of Couple and child is 13225
At t = 26 for Female and child 7 have LS of 0.2
At t = 26 for Female and child 438 have LS of 1.0
At t = 26 for Couple, no children 1087 have LS of 1.0
At t = 26 for Couple and child 5591 have LS of 0.2
At t = 26 for Couple and child 7668 have LS of 1.0
At t = 27 count of Female, single is 209
for sname = Female, single: 0 mar, 43 coh,  94 disagreed, 72 did not meet (209 total)
At t = 27 count of Female and child is 445
for sname = Female and child: 70 mar, 0 coh,  230 disagreed, 145 did not meet (445 total)
At t = 27 count of Couple, no children is 1087
At t = 27 count of Couple and child is 13259
At t = 27 for Female and child 10 have LS of 0.2
At t = 27 for Female and child 404 have LS of 1.0
At t = 27 for Couple, no children 1115 have LS of 1.0
At t = 27 for Couple and child 5642 have LS of 0.2
At t = 27 for Couple and child 7648 have LS of 1.0
At t = 28 count of Female, single is 181
for sname = Female, single: 0 mar, 44 coh,  89 disagreed, 48 did not meet (181 total)
At t = 28 count of Female and child is 414
for sname = Female and child: 59 mar, 0 coh,  241 disagreed, 114 did not meet (414 total)
At t = 28 count of Couple, no children is 1115
At t = 28 count of Couple and child is 13290
At t = 28 for Female and child 12 have LS of 0.2
At t = 28 for Female and child 363 have LS of 1.0
At t = 28 for Couple, no children 1146 have LS of 1.0
At t = 28 for Couple and child 5713 have LS of 0.2
At t = 28 for Couple and child 7616 have LS of 1.0
At t = 29 count of Female, single is 150
for sname = Female, single: 0 mar, 38 coh,  68 disagreed, 44 did not meet (150 total)
At t = 29 count of Female and child is 375
for sname = Female and child: 64 mar, 0 coh,  211 disagreed, 100 did not meet (375 total)
At t = 29 count of Couple, no children is 1146
At t = 29 count of Couple and child is 13329

Maximum savings for Female, single is 39.80131530761719
Maximum savings for Female and child is 49.96876907348633
Maximum savings for Couple, no children is 97.63754272460938
Maximum savings for Couple and child is 100.0
Assets upped bound is reached for singles
Rejected: 0.464796011430656, planned preg: 0.9435435882177923
Anything: divorced k_m = 0.09260158653067832, divorced m_k = 0.03394943450363077
One mar: divorced k_m = 0.098021672134407, divorced m_k = 0.03090269490593253
Ever divorced upp = 0.2836411609498681, ever divorced nupp = 0.15763235500631934
Ever divorced ever km = 0.48421807747489237, ever divorced never km = 0.13119212112303397
std of earnings is 0.3953801989555359 at 24 and 0.47469621896743774 at 30 for males
std of earnings is 0.5349577069282532 at 24 and 0.6699138879776001 at 30 for females
Coefficients are 0.13653377858747714 at 25 and 0.22327873851627622 at 30


Key target: km 0.098021672134407, mk 0.03090269490593253, ratio 3.171945761778509

In [4]:
from targets import target_values
from residuals import distance_to_targets
tar = target_values()
resid_all, resid_sc, dist = distance_to_targets(mom,tar,weights={},
                                                    report=True)
print('Distance is {}'.format(dist))

ever kids by years after marriage, 4 is 0.672 (target 0.611)
ever kids by years after marriage, 5 is 0.714 (target 0.704)
ever kids by years after marriage, 6 is 0.758 (target 0.773)
ever kids by years after marriage, 7 is 0.797 (target 0.818)
ever kids by years after marriage, 8 is 0.828 (target 0.857)
k then m in population at 23 is 0.00387 (target 0.00555)
k then m in population at 24 is 0.00853 (target 0.00806)
k then m in population at 25 is 0.0135 (target 0.0126)
k then m in population at 26 is 0.0187 (target 0.0178)
k then m in population at 27 is 0.0234 (target 0.0214)
k then m in population at 28 is 0.0287 (target 0.0281)
k then m in population at 29 is 0.0333 (target 0.0321)
k then m in population at 30 is 0.0389 (target 0.037)
k then m in population at 31 is 0.0424 (target 0.0386)
k then m in population at 32 is 0.0451 (target 0.0424)
k then m in population at 33 is 0.0492 (target 0.0436)
k then m in population at 34 is 0.0507 (target 0.0484)
k then m in population at 35 is 0.0517 (target 0.0536)
m then k in population at 23 is 0.00933 (target 0.015)
m then k in population at 24 is 0.0255 (target 0.028)
m then k in population at 25 is 0.0587 (target 0.0481)
m then k in population at 26 is 0.0832 (target 0.0788)
m then k in population at 27 is 0.118 (target 0.121)
m then k in population at 28 is 0.168 (target 0.174)
m then k in population at 29 is 0.235 (target 0.232)
m then k in population at 30 is 0.293 (target 0.282)
m then k in population at 31 is 0.345 (target 0.345)
m then k in population at 32 is 0.392 (target 0.396)
m then k in population at 33 is 0.432 (target 0.433)
m then k in population at 34 is 0.468 (target 0.462)
m then k in population at 35 is 0.506 (target 0.472)
k then m in sample at 23 is 0.293 (target 0.27)
k then m in sample at 24 is 0.251 (target 0.224)
k then m in sample at 25 is 0.187 (target 0.208)
k then m in sample at 26 is 0.184 (target 0.184)
k then m in sample at 27 is 0.166 (target 0.15)
k then m in sample at 28 is 0.146 (target 0.139)
k then m in sample at 29 is 0.124 (target 0.122)
k then m in sample at 30 is 0.117 (target 0.116)
k then m in sample at 31 is 0.109 (target 0.101)
k then m in sample at 32 is 0.103 (target 0.0967)
k then m in sample at 33 is 0.102 (target 0.0915)
k then m in sample at 34 is 0.0976 (target 0.0948)
k then m in sample at 35 is 0.0928 (target 0.102)
divorced by years after marriage if kids first, 1 is 0.0197 (target 0.0113)
divorced by years after marriage if kids first, 2 is 0.0434 (target 0.0217)
divorced by years after marriage if kids first, 3 is 0.0707 (target 0.0492)
divorced by years after marriage if kids first, 4 is 0.0914 (target 0.0894)
divorced by years after marriage if kids first, 5 is 0.116 (target 0.105)
divorced by years after marriage if kids first, 6 is 0.133 (target 0.139)
divorced by years after marriage if kids first, 7 is 0.138 (target 0.151)
divorced by years after marriage if kids first, 8 is 0.148 (target 0.187)
divorced by years after marriage if kids first, 9 is 0.15 (target 0.179)
divorced by years after marriage if kids first, 10 is 0.151 (target 0.201)
divorced by years after marriage if marriage first, 1 is 00 (target 0.000818)
divorced by years after marriage if marriage first, 2 is 0.00707 (target 0.00508)
divorced by years after marriage if marriage first, 3 is 0.0141 (target 0.0103)
divorced by years after marriage if marriage first, 4 is 0.0209 (target 0.0165)
divorced by years after marriage if marriage first, 5 is 0.0245 (target 0.0201)
divorced by years after marriage if marriage first, 6 is 0.0283 (target 0.0269)
divorced by years after marriage if marriage first, 7 is 0.0311 (target 0.032)
divorced by years after marriage if marriage first, 8 is 0.0357 (target 0.0402)
divorced by years after marriage if marriage first, 9 is 0.0424 (target 0.0479)
divorced by years after marriage if marriage first, 10 is 0.0448 (target 0.0602)
mean x share is 0.433 (target 0.4)
more than one mar at 40 is 0.113 (target 0.119)
in labor force at 30 if kids is 0.754 (target 0.74)
never married and no kids in population at 23 is 0.84 (target 0.871)
never married and no kids in population at 24 is 0.774 (target 0.808)
never married and no kids in population at 25 is 0.71 (target 0.737)
never married and no kids in population at 26 is 0.648 (target 0.646)
never married and no kids in population at 27 is 0.588 (target 0.563)
never married and no kids in population at 28 is 0.52 (target 0.477)
never married and no kids in population at 29 is 0.455 (target 0.407)
never married and no kids in population at 30 is 0.391 (target 0.348)
never married and no kids in population at 31 is 0.336 (target 0.299)
never married and no kids in population at 32 is 0.284 (target 0.251)
never married and no kids in population at 33 is 0.237 (target 0.223)
never married and no kids in population at 34 is 0.193 (target 0.197)
never married and no kids in population at 35 is 0.153 (target 0.179)
divorced and kids in population at 28 is 0.00233 (target 0.00942)
divorced and kids in population at 29 is 0.00493 (target 0.0124)
divorced and kids in population at 30 is 0.008 (target 0.0162)
divorced and kids in population at 31 is 0.00953 (target 0.0209)
divorced and kids in population at 32 is 0.0134 (target 0.0265)
divorced and kids in population at 33 is 0.0201 (target 0.0305)
divorced and kids in population at 34 is 0.0254 (target 0.0378)
divorced and kids in population at 35 is 0.0322 (target 0.0429)
divorced and no kids in population at 28 is 0.0146 (target 0.017)
divorced and no kids in population at 29 is 0.0235 (target 0.0207)
divorced and no kids in population at 30 is 0.0288 (target 0.0256)
divorced and no kids in population at 31 is 0.0317 (target 0.0251)
divorced and no kids in population at 32 is 0.0352 (target 0.0287)
divorced and no kids in population at 33 is 0.0426 (target 0.0269)
divorced and no kids in population at 34 is 0.0455 (target 0.0316)
divorced and no kids in population at 35 is 0.0436 (target 0.032)
never married and kids in population at 28 is 0.0167 (target 0.0428)
never married and kids in population at 29 is 0.0169 (target 0.0439)
never married and kids in population at 30 is 0.0163 (target 0.0463)
never married and kids in population at 31 is 0.0153 (target 0.0452)
never married and kids in population at 32 is 0.0154 (target 0.0461)
never married and kids in population at 33 is 0.0135 (target 0.0488)
never married and kids in population at 34 is 0.0125 (target 0.0465)
never married and kids in population at 35 is 0.0111 (target 0.0433)
divorced ratio above over below at 28 is 0.753 (target 0.695)
divorced ratio above over below at 29 is 0.724 (target 0.702)
divorced ratio above over below at 30 is 0.814 (target 0.65)
divorced ratio above over below at 31 is 0.834 (target 0.743)
divorced ratio above over below at 32 is 0.698 (target 0.845)
divorced ratio above over below at 33 is 0.835 (target 0.713)
divorced ratio above over below at 34 is 0.837 (target 0.78)
divorced ratio above over below at 35 is 0.952 (target 0.775)
abortion ratio is 1.19 (target 64.8)
abortion 30s over 20s is 0.231 (target 0.385)
Distance is 13.389826666172892

In [5]:
mdl_list[0].time_statistics()

Total time is 18.48447508830577
On average Creation of setup took 1.67, total 1.67 sec
On average Integration (s) took 0.01, total 1.9 sec (excl the worst)
On average Optimization (s) took 0.01, total 1.36 sec (excl the worst)
On average Transfer from gpu took 0.0, total 1.33 sec (excl the worst)
On average Integration (c) took 0.02, total 3.33 sec (excl the worst)
On average Optimization (c) took 0.02, total 1.7 sec (excl the worst)
On average Transfer to gpu took 0.0, total 0.27 sec (excl the worst)
On average Simulations, creation took 0.06, total 0.06 sec
On average Simulations, iteration took 0.21, total 6.39 sec (excl the worst)

In [ ]:
from main_onerun import main
main()

Hi!
{'sigma_psi': 0.10031363321851126, 'sigma_psi_init': 0.1427541210832547, 'pmeet_21': 0.11256508666615017, 'pmeet_30': 0.2097190890621539, 'pmeet_40': 0.34536994626423106, 'preg_21': 0.01383288422378677, 'preg_28': 0.04441030757493903, 'preg_35': 0.005721727876573733, 'u_shift_mar': 1.3872323315378159, 'util_alp': 0.35785582638744484, 'util_kap': 0.7571415322805706, 'util_qbar': 1.6972149130997232, 'disutil_marry_sm_mal': 43.335194296938695, 'disutil_shotgun': 4.173717574930719, 'abortion_costs': 37.53003145645212, 'p_abortion_access': 0.22711552946941432, 'u_lost_divorce': 5.296394363464528, 'high education': True}
Creation of setup took 1.6, total 1.6, mem 3.49G
At t = 0 for Female and child 276 have LS of 1.0
At t = 1 count of Female, single is 14724
1 abortions done at t = 0 for Female, single
for sname = Female, single: 15 mar, 1048 coh,  627 disagreed, 13034 did not meet (14724 total)
At t = 1 count of Female and child is 276
for sname = Female and child: 7 mar, 0 coh,  27 disagreed, 242 did not meet (276 total)
Simulations, iteration took 0.56, total 9.57, mem 5.08G
At t = 1 for Female and child 272 have LS of 1.0
At t = 1 for Couple, no children 1048 have LS of 1.0
At t = 1 for Couple and child 12 have LS of 0.2
At t = 1 for Couple and child 10 have LS of 1.0
At t = 2 count of Female, single is 13658
for sname = Female, single: 26 mar, 1031 coh,  671 disagreed, 11930 did not meet (13658 total)
At t = 2 count of Female and child is 272
for sname = Female and child: 10 mar, 0 coh,  29 disagreed, 233 did not meet (272 total)
At t = 2 count of Couple, no children is 1048
At t = 2 count of Couple and child is 22
Simulations, iteration took 0.52, total 10.09, mem 5.08G
At t = 2 for Female and child 269 have LS of 1.0
At t = 2 for Couple, no children 1936 have LS of 1.0
At t = 2 for Couple and child 45 have LS of 0.2
At t = 2 for Couple and child 152 have LS of 1.0
At t = 3 count of Female, single is 12598
1 abortions done at t = 2 for Female, single
2 abortions refused at t = 2 for Female, single
for sname = Female, single: 55 mar, 920 coh,  712 disagreed, 10911 did not meet (12598 total)
At t = 3 count of Female and child is 269
for sname = Female and child: 16 mar, 0 coh,  26 disagreed, 227 did not meet (269 total)
At t = 3 count of Couple, no children is 1936
At t = 3 count of Couple and child is 197
At t = 3 for Female and child 267 have LS of 1.0
At t = 3 for Couple, no children 2607 have LS of 1.0
At t = 3 for Couple and child 105 have LS of 0.2
At t = 3 for Couple and child 402 have LS of 1.0
At t = 4 count of Female, single is 11619
2 abortions refused at t = 3 for Female, single
for sname = Female, single: 55 mar, 894 coh,  730 disagreed, 9940 did not meet (11619 total)
At t = 4 count of Female and child is 267
for sname = Female and child: 20 mar, 0 coh,  23 disagreed, 224 did not meet (267 total)
At t = 4 count of Couple, no children is 2607
At t = 4 count of Couple and child is 507
At t = 4 for Female and child 255 have LS of 1.0
At t = 4 for Couple, no children 2983 have LS of 1.0
At t = 4 for Couple and child 178 have LS of 0.2
At t = 4 for Couple and child 901 have LS of 1.0
At t = 5 count of Female, single is 10683
3 abortions done at t = 4 for Female, single
2 abortions refused at t = 4 for Female, single
for sname = Female, single: 67 mar, 855 coh,  802 disagreed, 8959 did not meet (10683 total)
At t = 5 count of Female and child is 255
for sname = Female and child: 11 mar, 0 coh,  29 disagreed, 215 did not meet (255 total)
At t = 5 count of Couple, no children is 2983
At t = 5 count of Couple and child is 1079
At t = 5 for Female and child 266 have LS of 1.0
At t = 5 for Couple, no children 3428 have LS of 1.0
At t = 5 for Couple and child 259 have LS of 0.2
At t = 5 for Couple and child 1264 have LS of 1.0
At t = 6 count of Female, single is 9783
1 abortions done at t = 5 for Female, single
1 abortions refused at t = 5 for Female, single
for sname = Female, single: 56 mar, 845 coh,  881 disagreed, 8001 did not meet (9783 total)
At t = 6 count of Female and child is 266
for sname = Female and child: 14 mar, 0 coh,  36 disagreed, 216 did not meet (266 total)
At t = 6 count of Couple, no children is 3428
At t = 6 count of Couple and child is 1523
At t = 6 for Female and child 268 have LS of 1.0
At t = 6 for Couple, no children 3678 have LS of 1.0
At t = 6 for Couple and child 350 have LS of 0.2
At t = 6 for Couple and child 1755 have LS of 1.0
At t = 7 count of Female, single is 8949
4 abortions done at t = 6 for Female, single
1 abortions refused at t = 6 for Female, single
for sname = Female, single: 68 mar, 956 coh,  725 disagreed, 7200 did not meet (8949 total)
At t = 7 count of Female and child is 268
for sname = Female and child: 12 mar, 0 coh,  40 disagreed, 216 did not meet (268 total)
At t = 7 count of Couple, no children is 3678
At t = 7 count of Couple and child is 2105
At t = 7 for Female and child 286 have LS of 1.0
At t = 7 for Couple, no children 3777 have LS of 1.0
At t = 7 for Couple and child 556 have LS of 0.2
At t = 7 for Couple and child 2369 have LS of 1.0
At t = 8 count of Female, single is 8012
1 abortions done at t = 7 for Female, single
1 abortions refused at t = 7 for Female, single
for sname = Female, single: 56 mar, 918 coh,  710 disagreed, 6328 did not meet (8012 total)
At t = 8 count of Female and child is 286
for sname = Female and child: 18 mar, 0 coh,  50 disagreed, 218 did not meet (286 total)
At t = 8 count of Couple, no children is 3777
At t = 8 count of Couple and child is 2925
At t = 8 for Female and child 328 have LS of 1.0
At t = 8 for Couple, no children 3536 have LS of 1.0
At t = 8 for Couple and child 909 have LS of 0.2
At t = 8 for Couple and child 3053 have LS of 1.0
At t = 9 count of Female, single is 7174
2 abortions done at t = 8 for Female, single
3 abortions refused at t = 8 for Female, single
for sname = Female, single: 69 mar, 929 coh,  598 disagreed, 5578 did not meet (7174 total)
At t = 9 count of Female and child is 328
for sname = Female and child: 22 mar, 0 coh,  58 disagreed, 248 did not meet (328 total)
At t = 9 count of Couple, no children is 3536
At t = 9 count of Couple and child is 3962
At t = 9 for Female and child 1 have LS of 0.2
At t = 9 for Female and child 364 have LS of 1.0
At t = 9 for Couple, no children 3459 have LS of 1.0
At t = 9 for Couple and child 1201 have LS of 0.2
At t = 9 for Couple and child 3683 have LS of 1.0
At t = 10 count of Female, single is 6292
3 abortions refused at t = 9 for Female, single
for sname = Female, single: 40 mar, 834 coh,  611 disagreed, 4807 did not meet (6292 total)
At t = 10 count of Female and child is 365
for sname = Female and child: 36 mar, 0 coh,  52 disagreed, 277 did not meet (365 total)
At t = 10 count of Couple, no children is 3459
At t = 10 count of Couple and child is 4884
At t = 10 for Female and child 4 have LS of 0.2
At t = 10 for Female and child 368 have LS of 1.0
At t = 10 for Couple, no children 3364 have LS of 1.0
At t = 10 for Couple and child 1465 have LS of 0.2
At t = 10 for Couple and child 4280 have LS of 1.0
At t = 11 count of Female, single is 5519
1 abortions done at t = 10 for Female, single
4 abortions refused at t = 10 for Female, single
for sname = Female, single: 34 mar, 801 coh,  567 disagreed, 4117 did not meet (5519 total)
At t = 11 count of Female and child is 372
for sname = Female and child: 25 mar, 0 coh,  65 disagreed, 282 did not meet (372 total)
At t = 11 count of Couple, no children is 3364
At t = 11 count of Couple and child is 5745
At t = 11 for Female and child 4 have LS of 0.2
At t = 11 for Female and child 428 have LS of 1.0
At t = 11 for Couple, no children 3311 have LS of 1.0
At t = 11 for Couple and child 1725 have LS of 0.2
At t = 11 for Couple and child 4749 have LS of 1.0
At t = 12 count of Female, single is 4783
for sname = Female, single: 36 mar, 717 coh,  607 disagreed, 3423 did not meet (4783 total)
At t = 12 count of Female and child is 432
for sname = Female and child: 46 mar, 0 coh,  91 disagreed, 295 did not meet (432 total)
At t = 12 count of Couple, no children is 3311
At t = 12 count of Couple and child is 6474
At t = 12 for Female and child 5 have LS of 0.2
At t = 12 for Female and child 500 have LS of 1.0
At t = 12 for Couple, no children 3229 have LS of 1.0
At t = 12 for Couple and child 1982 have LS of 0.2
At t = 12 for Couple and child 5086 have LS of 1.0
At t = 13 count of Female, single is 4198

2 abortions done at t = 12 for Female, single
1 abortions refused at t = 12 for Female, single
for sname = Female, single: 12 mar, 745 coh,  513 disagreed, 2928 did not meet (4198 total)
At t = 13 count of Female and child is 505
for sname = Female and child: 58 mar, 0 coh,  94 disagreed, 353 did not meet (505 total)
At t = 13 count of Couple, no children is 3229
At t = 13 count of Couple and child is 7068
At t = 13 for Female and child 15 have LS of 0.2
At t = 13 for Female and child 554 have LS of 1.0
At t = 13 for Couple, no children 3203 have LS of 1.0
At t = 13 for Couple and child 2160 have LS of 0.2
At t = 13 for Couple and child 5483 have LS of 1.0
At t = 14 count of Female, single is 3585
for sname = Female, single: 12 mar, 726 coh,  405 disagreed, 2442 did not meet (3585 total)
At t = 14 count of Female and child is 569
for sname = Female and child: 75 mar, 0 coh,  113 disagreed, 381 did not meet (569 total)
At t = 14 count of Couple, no children is 3203
At t = 14 count of Couple and child is 7643
At t = 14 for Female and child 16 have LS of 0.2
At t = 14 for Female and child 633 have LS of 1.0
At t = 14 for Couple, no children 3178 have LS of 1.0
At t = 14 for Couple and child 2408 have LS of 0.2
At t = 14 for Couple and child 5818 have LS of 1.0
At t = 15 count of Female, single is 2947
for sname = Female, single: 5 mar, 692 coh,  267 disagreed, 1983 did not meet (2947 total)
At t = 15 count of Female and child is 649
for sname = Female and child: 102 mar, 0 coh,  128 disagreed, 419 did not meet (649 total)
At t = 15 count of Couple, no children is 3178
At t = 15 count of Couple and child is 8226
At t = 15 for Female and child 20 have LS of 0.2
At t = 15 for Female and child 627 have LS of 1.0
At t = 15 for Couple, no children 2989 have LS of 1.0
At t = 15 for Couple and child 2663 have LS of 0.2
At t = 15 for Couple and child 6387 have LS of 1.0
At t = 16 count of Female, single is 2314
for sname = Female, single: 0 mar, 637 coh,  204 disagreed, 1473 did not meet (2314 total)
At t = 16 count of Female and child is 647
for sname = Female and child: 107 mar, 0 coh,  130 disagreed, 410 did not meet (647 total)
At t = 16 count of Couple, no children is 2989
At t = 16 count of Couple and child is 9050
At t = 16 for Female and child 14 have LS of 0.2
At t = 16 for Female and child 621 have LS of 1.0
At t = 16 for Couple, no children 2769 have LS of 1.0
At t = 16 for Couple and child 2971 have LS of 0.2
At t = 16 for Couple and child 6911 have LS of 1.0
At t = 17 count of Female, single is 1714
for sname = Female, single: 0 mar, 580 coh,  100 disagreed, 1034 did not meet (1714 total)
At t = 17 count of Female and child is 635
for sname = Female and child: 71 mar, 0 coh,  172 disagreed, 392 did not meet (635 total)
At t = 17 count of Couple, no children is 2769
At t = 17 count of Couple and child is 9882
At t = 17 for Female and child 16 have LS of 0.2
At t = 17 for Female and child 637 have LS of 1.0
At t = 17 for Couple, no children 2396 have LS of 1.0
At t = 17 for Couple and child 3405 have LS of 0.2
At t = 17 for Couple and child 7411 have LS of 1.0
At t = 18 count of Female, single is 1135
for sname = Female, single: 0 mar, 235 coh,  240 disagreed, 660 did not meet (1135 total)
At t = 18 count of Female and child is 653
for sname = Female and child: 84 mar, 0 coh,  196 disagreed, 373 did not meet (653 total)
At t = 18 count of Couple, no children is 2396
At t = 18 count of Couple and child is 10816
At t = 18 for Female and child 17 have LS of 0.2
At t = 18 for Female and child 649 have LS of 1.0
At t = 18 for Couple, no children 358 have LS of 1.0
At t = 18 for Couple and child 4909 have LS of 0.2
At t = 18 for Couple and child 8129 have LS of 1.0
At t = 19 count of Female, single is 938
for sname = Female, single: 0 mar, 196 coh,  233 disagreed, 509 did not meet (938 total)
At t = 19 count of Female and child is 666
for sname = Female and child: 94 mar, 0 coh,  202 disagreed, 370 did not meet (666 total)
At t = 19 count of Couple, no children is 358
At t = 19 count of Couple and child is 13038
At t = 19 for Female and child 20 have LS of 0.2
At t = 19 for Female and child 669 have LS of 1.0
At t = 19 for Couple, no children 544 have LS of 1.0
At t = 19 for Couple and child 5004 have LS of 0.2
At t = 19 for Couple and child 8011 have LS of 1.0
At t = 20 count of Female, single is 752
for sname = Female, single: 0 mar, 162 coh,  206 disagreed, 384 did not meet (752 total)
At t = 20 count of Female and child is 689
for sname = Female and child: 98 mar, 0 coh,  207 disagreed, 384 did not meet (689 total)
At t = 20 count of Couple, no children is 544
At t = 20 count of Couple and child is 13015
At t = 20 for Female and child 27 have LS of 0.2
At t = 20 for Female and child 652 have LS of 1.0
At t = 20 for Couple, no children 701 have LS of 1.0
At t = 20 for Couple and child 5112 have LS of 0.2
At t = 20 for Couple and child 7913 have LS of 1.0
At t = 21 count of Female, single is 595
for sname = Female, single: 0 mar, 129 coh,  174 disagreed, 292 did not meet (595 total)
At t = 21 count of Female and child is 679
for sname = Female and child: 110 mar, 0 coh,  243 disagreed, 326 did not meet (679 total)
At t = 21 count of Couple, no children is 701
At t = 21 count of Couple and child is 13025
At t = 21 for Female and child 27 have LS of 0.2
At t = 21 for Female and child 622 have LS of 1.0
At t = 21 for Couple, no children 817 have LS of 1.0
At t = 21 for Couple and child 5232 have LS of 0.2
At t = 21 for Couple and child 7823 have LS of 1.0
At t = 22 count of Female, single is 479
for sname = Female, single: 0 mar, 97 coh,  150 disagreed, 232 did not meet (479 total)
At t = 22 count of Female and child is 649
for sname = Female and child: 99 mar, 0 coh,  226 disagreed, 324 did not meet (649 total)
At t = 22 count of Couple, no children is 817
At t = 22 count of Couple and child is 13055
At t = 22 for Female and child 16 have LS of 0.2
At t = 22 for Female and child 595 have LS of 1.0
At t = 22 for Couple, no children 904 have LS of 1.0
At t = 22 for Couple and child 5318 have LS of 0.2
At t = 22 for Couple and child 7775 have LS of 1.0
At t = 23 count of Female, single is 392
for sname = Female, single: 0 mar, 89 coh,  135 disagreed, 168 did not meet (392 total)
At t = 23 count of Female and child is 611
for sname = Female and child: 98 mar, 0 coh,  245 disagreed, 268 did not meet (611 total)
At t = 23 count of Couple, no children is 904
At t = 23 count of Couple and child is 13093
At t = 23 for Female and child 14 have LS of 0.2
At t = 23 for Female and child 538 have LS of 1.0
At t = 23 for Couple, no children 973 have LS of 1.0
At t = 23 for Couple and child 5390 have LS of 0.2
At t = 23 for Couple and child 7762 have LS of 1.0
At t = 24 count of Female, single is 323
for sname = Female, single: 0 mar, 62 coh,  106 disagreed, 155 did not meet (323 total)
At t = 24 count of Female and child is 552
for sname = Female and child: 85 mar, 0 coh,  220 disagreed, 247 did not meet (552 total)
At t = 24 count of Couple, no children is 973
At t = 24 count of Couple and child is 13152
At t = 24 for Female and child 8 have LS of 0.2
At t = 24 for Female and child 492 have LS of 1.0
At t = 24 for Couple, no children 1018 have LS of 1.0
At t = 24 for Couple and child 5445 have LS of 0.2
At t = 24 for Couple and child 7759 have LS of 1.0
At t = 25 count of Female, single is 278
for sname = Female, single: 0 mar, 65 coh,  113 disagreed, 100 did not meet (278 total)
At t = 25 count of Female and child is 500
for sname = Female and child: 75 mar, 0 coh,  235 disagreed, 190 did not meet (500 total)
At t = 25 count of Couple, no children is 1018
At t = 25 count of Couple and child is 13204
At t = 25 for Female and child 6 have LS of 0.2
At t = 25 for Female and child 473 have LS of 1.0
At t = 25 for Couple, no children 1061 have LS of 1.0
At t = 25 for Couple and child 5507 have LS of 0.2
At t = 25 for Couple and child 7718 have LS of 1.0
At t = 26 count of Female, single is 235
for sname = Female, single: 0 mar, 55 coh,  99 disagreed, 81 did not meet (235 total)
At t = 26 count of Female and child is 479
for sname = Female and child: 70 mar, 0 coh,  233 disagreed, 176 did not meet (479 total)
At t = 26 count of Couple, no children is 1061
At t = 26 count of Couple and child is 13225
At t = 26 for Female and child 7 have LS of 0.2
At t = 26 for Female and child 438 have LS of 1.0
At t = 26 for Couple, no children 1087 have LS of 1.0
At t = 26 for Couple and child 5591 have LS of 0.2
At t = 26 for Couple and child 7668 have LS of 1.0
At t = 27 count of Female, single is 209
for sname = Female, single: 0 mar, 43 coh,  94 disagreed, 72 did not meet (209 total)
At t = 27 count of Female and child is 445
for sname = Female and child: 70 mar, 0 coh,  230 disagreed, 145 did not meet (445 total)
At t = 27 count of Couple, no children is 1087

At t = 27 count of Couple and child is 13259
At t = 27 for Female and child 10 have LS of 0.2
At t = 27 for Female and child 404 have LS of 1.0
At t = 27 for Couple, no children 1115 have LS of 1.0
At t = 27 for Couple and child 5642 have LS of 0.2
At t = 27 for Couple and child 7648 have LS of 1.0
At t = 28 count of Female, single is 181
for sname = Female, single: 0 mar, 44 coh,  89 disagreed, 48 did not meet (181 total)
At t = 28 count of Female and child is 414
for sname = Female and child: 59 mar, 0 coh,  241 disagreed, 114 did not meet (414 total)
At t = 28 count of Couple, no children is 1115
At t = 28 count of Couple and child is 13290
At t = 28 for Female and child 12 have LS of 0.2
At t = 28 for Female and child 363 have LS of 1.0
At t = 28 for Couple, no children 1146 have LS of 1.0
At t = 28 for Couple and child 5713 have LS of 0.2
At t = 28 for Couple and child 7616 have LS of 1.0
At t = 29 count of Female, single is 150
for sname = Female, single: 0 mar, 38 coh,  68 disagreed, 44 did not meet (150 total)
At t = 29 count of Female and child is 375
for sname = Female and child: 64 mar, 0 coh,  211 disagreed, 100 did not meet (375 total)
At t = 29 count of Couple, no children is 1146
At t = 29 count of Couple and child is 13329
Maximum savings for Female, single is 39.80131530761719
Maximum savings for Female and child is 49.96876907348633
Maximum savings for Couple, no children is 97.63754272460938
Maximum savings for Couple and child is 100.0
Assets upped bound is reached for singles
Rejected: 0.464796011430656, planned preg: 0.9435435882177923
Anything: divorced k_m = 0.09260158653067832, divorced m_k = 0.03394943450363077
One mar: divorced k_m = 0.098021672134407, divorced m_k = 0.03090269490593253
Ever divorced upp = 0.2836411609498681, ever divorced nupp = 0.15763235500631934
Ever divorced ever km = 0.48421807747489237, ever divorced never km = 0.13119212112303397
std of earnings is 0.3953801989555359 at 24 and 0.47469621896743774 at 30 for males
std of earnings is 0.5349577069282532 at 24 and 0.6699138879776001 at 30 for females
Coefficients are 0.13653377858747714 at 25 and 0.22327873851627622 at 30


Key target: km 0.098021672134407, mk 0.03090269490593253, ratio 3.171945761778509
Simulations, iteration took 0.57, total 16.47, mem 5.17G
Simulations, iteration took 0.53, total 17.0, mem 5.17G
ever kids by years after marriage, 4 is 0.669 (target 0.611)
ever kids by years after marriage, 5 is 0.711 (target 0.704)
ever kids by years after marriage, 6 is 0.758 (target 0.773)
ever kids by years after marriage, 7 is 0.795 (target 0.818)
ever kids by years after marriage, 8 is 0.827 (target 0.857)
k then m in population at 23 is 0.0043 (target 0.00555)
k then m in population at 24 is 0.00847 (target 0.00806)
k then m in population at 25 is 0.0135 (target 0.0126)
k then m in population at 26 is 0.0186 (target 0.0178)
k then m in population at 27 is 0.0238 (target 0.0214)
k then m in population at 28 is 0.0284 (target 0.0281)
k then m in population at 29 is 0.0328 (target 0.0321)
k then m in population at 30 is 0.0387 (target 0.037)
k then m in population at 31 is 0.0423 (target 0.0386)
k then m in population at 32 is 0.0457 (target 0.0424)
k then m in population at 33 is 0.0492 (target 0.0436)
k then m in population at 34 is 0.0508 (target 0.0484)
k then m in population at 35 is 0.0523 (target 0.0536)
m then k in population at 23 is 0.0093 (target 0.015)
m then k in population at 24 is 0.025 (target 0.028)
m then k in population at 25 is 0.0566 (target 0.0481)
m then k in population at 26 is 0.0819 (target 0.0788)
m then k in population at 27 is 0.118 (target 0.121)
m then k in population at 28 is 0.168 (target 0.174)
m then k in population at 29 is 0.233 (target 0.232)
m then k in population at 30 is 0.29 (target 0.282)
m then k in population at 31 is 0.341 (target 0.345)
m then k in population at 32 is 0.386 (target 0.396)
m then k in population at 33 is 0.425 (target 0.433)
m then k in population at 34 is 0.463 (target 0.462)
m then k in population at 35 is 0.501 (target 0.472)
k then m in sample at 23 is 0.316 (target 0.27)
k then m in sample at 24 is 0.253 (target 0.224)
k then m in sample at 25 is 0.193 (target 0.208)
k then m in sample at 26 is 0.185 (target 0.184)
k then m in sample at 27 is 0.168 (target 0.15)
k then m in sample at 28 is 0.145 (target 0.139)
k then m in sample at 29 is 0.124 (target 0.122)
k then m in sample at 30 is 0.118 (target 0.116)
k then m in sample at 31 is 0.11 (target 0.101)
k then m in sample at 32 is 0.106 (target 0.0967)
k then m in sample at 33 is 0.104 (target 0.0915)
k then m in sample at 34 is 0.0989 (target 0.0948)
k then m in sample at 35 is 0.0944 (target 0.102)
divorced by years after marriage if kids first, 1 is 0.0184 (target 0.0113)
divorced by years after marriage if kids first, 2 is 0.0419 (target 0.0217)
divorced by years after marriage if kids first, 3 is 0.0627 (target 0.0492)
divorced by years after marriage if kids first, 4 is 0.0831 (target 0.0894)
divorced by years after marriage if kids first, 5 is 0.106 (target 0.105)
divorced by years after marriage if kids first, 6 is 0.121 (target 0.139)
divorced by years after marriage if kids first, 7 is 0.126 (target 0.151)
divorced by years after marriage if kids first, 8 is 0.133 (target 0.187)
divorced by years after marriage if kids first, 9 is 0.143 (target 0.179)
divorced by years after marriage if kids first, 10 is 0.138 (target 0.201)
divorced by years after marriage if marriage first, 1 is 00 (target 0.000818)
divorced by years after marriage if marriage first, 2 is 0.00712 (target 0.00508)
divorced by years after marriage if marriage first, 3 is 0.0127 (target 0.0103)
divorced by years after marriage if marriage first, 4 is 0.0182 (target 0.0165)
divorced by years after marriage if marriage first, 5 is 0.0236 (target 0.0201)
divorced by years after marriage if marriage first, 6 is 0.0273 (target 0.0269)
divorced by years after marriage if marriage first, 7 is 0.031 (target 0.032)
divorced by years after marriage if marriage first, 8 is 0.0353 (target 0.0402)
divorced by years after marriage if marriage first, 9 is 0.0403 (target 0.0479)
divorced by years after marriage if marriage first, 10 is 0.0423 (target 0.0602)
mean x share is 0.435 (target 0.4)
more than one mar at 40 is 0.108 (target 0.119)
in labor force at 30 if kids is 0.75 (target 0.74)
never married and no kids in population at 23 is 0.84 (target 0.871)
never married and no kids in population at 24 is 0.776 (target 0.808)
never married and no kids in population at 25 is 0.712 (target 0.737)
never married and no kids in population at 26 is 0.649 (target 0.646)
never married and no kids in population at 27 is 0.59 (target 0.563)
never married and no kids in population at 28 is 0.524 (target 0.477)
never married and no kids in population at 29 is 0.459 (target 0.407)
never married and no kids in population at 30 is 0.394 (target 0.348)
never married and no kids in population at 31 is 0.339 (target 0.299)
never married and no kids in population at 32 is 0.286 (target 0.251)
never married and no kids in population at 33 is 0.238 (target 0.223)
never married and no kids in population at 34 is 0.194 (target 0.197)
never married and no kids in population at 35 is 0.153 (target 0.179)
divorced and kids in population at 28 is 0.00197 (target 0.00942)
divorced and kids in population at 29 is 0.00443 (target 0.0124)
divorced and kids in population at 30 is 0.0072 (target 0.0162)
divorced and kids in population at 31 is 0.00903 (target 0.0209)
divorced and kids in population at 32 is 0.0125 (target 0.0265)
divorced and kids in population at 33 is 0.0181 (target 0.0305)
divorced and kids in population at 34 is 0.0225 (target 0.0378)
divorced and kids in population at 35 is 0.0297 (target 0.0429)
divorced and no kids in population at 28 is 0.015 (target 0.017)
divorced and no kids in population at 29 is 0.023 (target 0.0207)
divorced and no kids in population at 30 is 0.028 (target 0.0256)
divorced and no kids in population at 31 is 0.0312 (target 0.0251)
divorced and no kids in population at 32 is 0.0339 (target 0.0287)
divorced and no kids in population at 33 is 0.0413 (target 0.0269)
divorced and no kids in population at 34 is 0.0446 (target 0.0316)
divorced and no kids in population at 35 is 0.0415 (target 0.032)
never married and kids in population at 28 is 0.0171 (target 0.0428)
never married and kids in population at 29 is 0.0172 (target 0.0439)
never married and kids in population at 30 is 0.0163 (target 0.0463)
never married and kids in population at 31 is 0.0155 (target 0.0452)
never married and kids in population at 32 is 0.0149 (target 0.0461)
never married and kids in population at 33 is 0.0137 (target 0.0488)
never married and kids in population at 34 is 0.0127 (target 0.0465)
never married and kids in population at 35 is 0.0112 (target 0.0433)
divorced ratio above over below at 28 is 0.721 (target 0.695)
divorced ratio above over below at 29 is 0.648 (target 0.702)
divorced ratio above over below at 30 is 0.733 (target 0.65)
divorced ratio above over below at 31 is 0.761 (target 0.743)
divorced ratio above over below at 32 is 0.693 (target 0.845)
divorced ratio above over below at 33 is 0.79 (target 0.713)
divorced ratio above over below at 34 is 0.777 (target 0.78)
divorced ratio above over below at 35 is 0.883 (target 0.775)
abortion ratio is 1.08 (target 64.8)
abortion 30s over 20s is 0.115 (target 0.385)
Distance 13.404581311060788, time 22.58
Total time is 22.583368298597634
On average Creation of setup took 1.6, total 1.6 sec
On average Integration (s) took 0.01, total 1.44 sec (excl the worst)
On average Optimization (s) took 0.0, total 0.74 sec (excl the worst)
On average Transfer from gpu took 0.0, total 1.26 sec (excl the worst)
On average Integration (c) took 0.02, total 1.84 sec (excl the worst)
On average Optimization (c) took 0.02, total 1.7 sec (excl the worst)
On average Transfer to gpu took 0.0, total 0.26 sec (excl the worst)
On average Simulations, creation took 0.05, total 0.43 sec (excl the worst)
On average Simulations, iteration took 0.22, total 12.84 sec (excl the worst)
Done. Residual in point x0 is 13.404581311060788

divorced if k then m and one marriage: base 0.1046053778816308, compare 0.1480121
divorced by years after marriage if kids first, 10: base 0.13786643370219376, compare 0.20118
divorced if m then k and one marriage: base 0.03522440641684277, compare 0.0536316
divorced by years after marriage if marriage first, 10: base 0.04228439492281712, compare 0.0602147

/projects/p30190/py_shotgun/fit_plot.py:246: MatplotlibDeprecationWarning: Adding an axes using the same arguments as a previous axes currently reuses the earlier instance.  In a future version, a new instance will always be created and returned.  Meanwhile, this warning can be suppressed, and the future behavior ensured, by passing a unique label to each axes instance.
  ax = fig.add_subplot(gs[0,0])